<div class="row">
  <div class="col-lg-12 RegisterForm">
    <form>
      <div class="form-text"><b>#Please fill all the data-fields to proceed.</b></div>
      <div class="mb-3">
        <label class="form-label">First Name</label>
        <input type="fName" class="form-control" placeholder="Enter Your FirstName Here!" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Last Name</label>
        <input type="lName" class="form-control" placeholder="Enter Your LastName Here!" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" placeholder="Enter Your EmailAddress Here!" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Contact Number</label>
        <input type="contact" class="form-control" placeholder="Enter Your ContactNumber Here!" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Address</label>
        <input type="address" class="form-control" placeholder="Enter Your Address Here!" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Create Password</label>
        <input type="password" class="form-control" placeholder="Create your Password Here!" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Verify Password</label>
        <input type="password" class="form-control" placeholder="Verify your password Here!" required>
      </div>
      <div class="btn">
      <button type="submit" class="btn btn-primary" >Create_Account</button>
      </div>
    </form>
  </div>
</div>
