<div class="row top1 mt-5 ml-8">
  <p class="p1">The Real mistake is the one from which we do not care about our vehicle.<br> Don't worry. We'll care about your vehicle.</p>
</div>

<div>
  <div class="t1">
    Plan Your Dream Vehicle Here!
  </div>
  <div class="t2">
    There's reason why more than 100000 people around the country trust <b>Privilage_Zone</b> to maintain their vehicle.<br>
    <br>
    Try if for Free!
    <button type="button" class="btn btn-warning" routerLink="/register" routerLinkActive="active">Click Here to Register</button>
  </div>
  <br><br>
  <!-- <div class="gif">
  </div> -->
  <div class="card c1" style="width: 18rem;">
    <img src="https://www.animatedimages.org/data/media/67/animated-car-image-0066.gif" class="card-img-top">
    <a routerLink="/gallery" routerLinkActive="active" class="btn btn-primary btn-success">Click Here To View The Gallery</a>
    <!-- <div class="card-body">
      <p class="card-text"></p>
    </div> -->
  </div>
</div>
