<div class="row">
  <div class="col-lg-12 mt-5">
    <button class="btn btn-primary b1 mb-5 mt-4" type="button" routerLink="engineService" routerLinkActive="active">Engine Services</button><br>
    <button class="btn btn-primary b1  mb-5" type="button" (click)='showForm()'>External Services</button><br>
    <button class="btn btn-primary b1  mb-5" type="button">Internal Services</button><br>
    <button class="btn btn-primary b1  mb-5" type="button">Modifications</button><br>
    <button class="btn btn-primary b1  mb-5" type="button">Spare Parts[Brandnew & Recondition]</button>
    <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
      Popover on top
    </button>
  </div>
  <br>
</div>
