/* You can add global styles to this file, and also import other style files */
body{
  background-size: cover;
  background: rgb(71,67,84);
  background: radial-gradient(circle, rgba(71,67,84,1) 0%, rgba(88,93,177,1) 100%);
}



